@font-face {
  font-family: "Subtle Sans";
  src: url("/fonts/Share-Bold.ttf") format("truetype");
}

* {
  padding: 0;
  margin: 0;
  font-family: "Subtle Sans";
}

html,
body,
#fullheight {
  min-height: 100% !important;
  height: 100%;
  margin: 0;
  color: rgb(241, 239, 239);
}

#countdown {
  background-color: rgba(27, 27, 27, 0.9);
  width: 35%;
  height: 100%;
  float: left;
  background-image: url("https://www.transparenttextures.com/patterns/brilliant.png"); /* here you can set your background image */
}

#countdown > h1 {
  margin-top: 30%;
  text-align: center;
  font-size: 35px;
  opacity: 1;
}

#countdown > h3 {
  text-align: center;
  font-size: 25px;
  font-weight: bolder;
}

#countdown > p {
  text-align: center;
  font-weight: bolder;
  font-style: initial;
  font-size: 30px;
}

.cd {
  text-align: center;
  font-weight: bolder;
  font-style: initial;
  font-size: 30px;
}

#quote > h1 {
  margin-top: 30%;
  text-align: center;
}

#mainclock {
  width: 30%;
  float: left;
  height: 100%;
  font-size: 50px;
  text-align: center;
  background-image: url("https://www.transparenttextures.com/patterns/brilliant.png"); /* here you can set your background image */
  background-color: rgba(27, 27, 27, 0.95);
}

#mainclock > h1 {
  margin-top: 5%;
}

#waking {
  font-size: 25px;
  padding: 30px;
  padding-top: 57px;
}

#quotes {
  background-color: rgba(27, 27, 27, 0.9);
  width: 35%;
  float: left;
  height: 100%;
  background-image: url("https://www.transparenttextures.com/patterns/brilliant.png"); /* here you can set your background image */
}

#quotes > h1 {
  text-align: center;
  margin-top: 30%;
  font-size: 35px;
}

#quote {
  padding: 10%;
  font-size: 25px;
  font-style: italic;
  font-weight: bold;
}

#author {
  padding: 10%;
  padding-top: 0px;
  text-align: right;
  font-size: 30px;
  font-style: italic;
  font-weight: bolder;
}

footer {
  clear: both;
}

h3 {
  padding-top: 80px;
}

#currdate {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  font-size: 75%;
  text-align: center;
}
